[submodule "db-viewer"]
	path = db-viewer
	url = https://github.com/user216/db-viewer-enhanced.git
[submodule "copilot-plugin"]
	path = copilot-plugin
	url = https://github.com/user216/memory-bank-plugin.git
